<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Country Details</title>
    <link rel="shortcut icon" href="./logo/logo.jpg" type="image/x-icon">
    <!-- fontawsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="description" content="Explore detailed information about a specific country.">
    <meta name="keywords" content="country, details, information, population, capital, region, flag, geography">
      <!-- daisy ui  -->
      <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
      <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
      <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://restcountries.com/v3.1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
        .fontFamily {
            font-family: "Nunito Sans", sans-serif;
        }
    </style>
</head>

<body class="fontFamily">
    <header class="">
        <nav class="shadow-lg p-3 lg:px-10 lg:py-4">
         <div class="sticky top-0 z-30 opacity-90 flex justify-between items-center ">
             <h1 class="font-extrabold text-2xl">Where in The World?</h1>
             <div id="themeChange" class="cursor-pointer">
                <p  class="space-x-2"><i class="fa-regular fa-moon"></i>Dark Mode</p>
            </div>

         </div>
        </nav>
     </header>
     <main class="w-11/12 mx-auto py-10">
        <button class="btn font-semibold" id="backBtn"><i class="fa-solid fa-arrow-left"></i> Back</button>
        <!-- details container  -->
         <section>
            <!-- dynamic loading -->
         </section>
     </main>
     <footer class="">
        <p>&copy; 2025 CountryTracker. All rights reserved.</p>
    </footer>
    <script src="../JavaScript/detail.js"></script>
</body>

</html>